
<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
            <div style="background: #76a3e6 ; front=size:16px; padding:25px;"><h1><strong> Shortened URLs</strong></h1>
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Shorten Your App! Do it now!
            </a>
        </div>
    </div>
</nav>