
<head>
    <h5>TinyURL.io <span class="badge badge-secondary"></span></h5>
    <div style="background: #ffffff ; front=size:25px; padding:3px; style="text-align:right;">
</head>
<nav class="navbar navbar-default" role="navigation" style="text-align:right;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
            <div style="background: #f6f6f6 ; front=size:50px; padding:1px;">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>

                <!-- check if user logged in and display username, if not, keep form to fill username -->

                <% if(username !== undefined){ %>

                  <h6>Your username is: <%= username %></h6>
                  <form action="/logout" method="POST" style="margin:10px;">
                    <button type="submit" value="Submit" class="btn btn-outline-primary">Logout ✌️</button>
                  </form>

                <% } else{ %>

                    <h6><a href="http://localhost:8080/register">No username? Click Here</a></h6>
                  <form action="/login" method="POST" style="margin:10px;">
                    <label for="username">Email:</label>
                    <input class="form-control" id="email" type="email" name="username" placeholder="email" aria-describedby="sizing-addon2" style="width: 300px">

                     <label for="password">Password:</label>
                    <input class="form-control" id="password" type="password" name="password" placeholder="password" aria-describedby="sizing-addon2" style="width: 300px">
                    <button type="submit" value="Submit"class="btn btn-outline-primary">Login</button>

                  </form>
                <% } %>

            </a>
        </div>
    </div>
</nav>