
<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <h1>It's The Tiny URL App! <span class="badge badge-secondary">Brand Spanking New</span></h1>
    <div style="background: #ffffff ; front=size:16px; padding:10px;">
</head>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
            <div style="background: #f6f6f6 ; front=size:10px; padding:10px;">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Ready to Shorten your URL?
                <% if(username !== undefined){ %>
                <h5>Your username is: <%= username %></h5>
                  <form action="/logout" method="POST" style="margin:10px;">
                    <button type="submit" value="Submit" class="btn btn-outline-primary">Logout ✌️</button>
                  </form>
                <% } else{ %>
                  <form action="/login" method="POST" style="margin:10px;">
                    <label for="username">Please Enter a Username:</label>
                    <input id="username" type="text" name="username" placeholder="username" style="width: 300px">
                    <button type="submit" value="Submit"class="btn btn-outline-primary">Submit ⟹</button>
                  </form>
                <% } %>

            </a>
        </div>
    </div>
</nav>