<!DOCTYPE html>
<html lang="en">
<header>
        <img src="https://lh3.googleusercontent.com/SySPtB-1NobPRQ3KIcTXBGh4U8UfUj86ffrx0wJjXTyOvnrr5DYElOQgwCdbmzu_kA=w300" style="float: left;" width="75" height="75"/>
        <br> <h3>TinyURL App</h3>
        <div style="background: #ffffff ; front=size:25px; padding:3px; style="text-align:right;">
</header>

<body>
     <h1 align="center">Register Page</h1>
        <form action="/register" method="POST" style="margin:150px;">
            <label for="email">Enter your email</label>
            <input id="password" type="email" name="email" placeholder="📧" style="width: 300px">
            <br>
            <label for="password">Enter a password</label>
            <input id="password" type="password" name="password" placeholder="🔒" style="width: 300px">
            <br>
            <input type="submit" value="Register">
        </form>

</body>

</html>