<!DOCTYPE html>
<html lang="en">
<header>
<img src="https://lh3.googleusercontent.com/SySPtB-1NobPRQ3KIcTXBGh4U8UfUj86ffrx0wJjXTyOvnrr5DYElOQgwCdbmzu_kA=w300" style="float: left;" width="75" height="75"/>
   <br> <h3>TinyURL App</h3>
    <div style="background: #ffffff ; front=size:25px; padding:1px; style="text-align:right;">
</header>

<body>

     <h1 align="center">Login Page</h1>
        <form action="/login" method="POST" style="margin:150px;">
        <h6><a href="http://localhost:8080/register">No user_id? Click Here</a></h6>
            <label for="email">Enter your email</label>
            <input id="password" type="text" name="email" placeholder="📧" style="width: 300px">
            <br>
            <label for="password">Enter a password</label>
            <input id="password" type="password" name="password" placeholder="🔒" style="width: 300px">
            <br>
            <input type="submit" value="Login">
    </form>
    <form action="/register" method="POST" style="margin:150px;">
    </form>
</body>

</html>