<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>
    <% include ./partials/_header %>
</head>

<body>
    <h1>Your Short URL</h1>
    <table style="width: 25%">
        <tr>
            <th>URL</th>
        </tr>
        <tr>
            <td>
                <ul>
                    <%= targetURL %>
                        <br>
                        <br>
</body>

</html>